PORT=5000
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.yrnu1tz.mongodb.net/ipl-auction?retryWrites=true&w=majority
JWT_SECRET=your_jwt_secret_key_here
JWT_EXPIRES_IN=7d
NODE_ENV=development
USE_REAL_BRANDING=true
